<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="'About Formagg.io'">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <img src="img/ionic.png" class="ionic-logo">
    <p>
      This is a prototype for a mobile cheese app. It uses the 
      formagg.io API. And implements the full site of API endpoints.
    </p>
    <p>
      Questions? Hit up the 
      <a href="http://api.formagg.io/recipe" target="_blank">API Recipe</a>.
    </p>
    <p>
      How to use  
      <a href="http://api.formagg.io/usage" target="_blank">Usage</a>.
    </p>
  </ion-content>
</ion-view>
